;; Sets up a bit field environment.
;; You won't be able to draw byte fields in the same environment when using this.

(def box-width 30)
(def boxes-per-row 8)
(def left-margin 1)
(draw-column-headers {:labels (reverse (take 8 column-labels))})
