(draw-column-headers)
(draw-box (text "subtype" :math) {:span 2})
(draw-box (text "i" :math [:sub "shift"]) {:span 2})
(draw-box (text "bitmask" :math) {:span 4})
(draw-box (text "sample_rate" :math) {:span 4})
(draw-box (text "composer_id" :math) {:span 4})

(draw-box (text "file_size" :math) {:span 4})
(draw-box (text "unknown" :math [:sub 2]) {:span 4})
(draw-box (text "u" :math [:sub 3]) {:span 2})
(draw-box (text "u" :math [:sub 4]) {:span 2})
(draw-box (text "artwork_id" :math) {:span 4})

(draw-box (text "key_id" :math) {:span 4})
(draw-box (text "orig_artist_id" :math) {:span 4})
(draw-box (text "label_id" :math) {:span 4})
(draw-box (text "remixer_id" :math) {:span 4})

(draw-box (text "bitrate" :math) {:span 4})
(draw-box (text "track_number" :math) {:span 4})
(draw-box (text "tempo" :math) {:span 4})
(draw-box (text "genre_id" :math) {:span 4})

(draw-box (text "album_id" :math) {:span 4})
(draw-box (text "artist_id" :math) {:span 4})
(draw-box (text "id" :math) {:span 4})
(draw-box (text "disc" :math [:sub "n"]) {:span 2})
(draw-box (text "play" :math [:sub "c"]) {:span 2})

(draw-box (text "year" :math) {:span 2})
(draw-box (text "s" :math [:sub "depth"]) {:span 2})
(draw-box (text "dur" :math) {:span 2})
(draw-box (text "u" :math [:sub 5]) {:span 2})
(draw-box (text "c" :math [:sub "id"]))
(draw-box (text "r" :math))
(draw-box (text "u" :math [:sub 6]) {:span 2})
(draw-box (text "u" :math [:sub 7]) {:span 2})
(doseq [n (range 21)]
  (draw-box (text "ofs" :math [:sub n]) {:span 2}))
